* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: grid;
	height: 100vh;
	grid-template:
		"logo-menu-button header header header" 64px
		"left-nav main settings-bar other-apps" 1fr /
		256px 1fr 300px 55px;
}
.logo-menu-button {
	grid-area: logo-menu-button;
}
.header {
	grid-area: header;
	background-color: lightblue;
}
.left-nav {
	grid-area: left-nav;
	background-color: lightcoral;
}
.main {
	background-color: lightcyan;
	grid-area: main;
}
.settings-bar {
	background-color: lightgray;
	grid-area: settings-bar;
}
.other-apps {
	background-color: lightgreen;
	grid-area: other-apps;
}
